<div class="container">
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">
        <img src="assets/thescore-logo.svg" width="128" height="48" />
    </div>
    <div class="col-md-9">&nbsp;</div>
    <div class="col-md-3" style="display: flex;">
      <form [formGroup]="formGroup">
        <input
          type="text"
          class="form-control"
          name="searchString"
          placeholder="Type to search..."
          formControlName="filter"
          (change)="clearSort()"
        />
      </form> &nbsp;
        <button class="btn btn-primary" (click)="download()">Download</button>
    </div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">
      <table class="table table-dark table-striped table-bordered table-hover">
        <thead class="sticky-header">
          <th class="s-header" scope="col" [appSort]="filteredRushing$" data-order="desc" data-name="Player">Player</th>
          <th class="s-header" scope="col" [appSort]="filteredRushing$" data-order="desc" data-name="Team">Team</th>
          <th class="s-header" scope="col" [appSort]="filteredRushing$" data-order="desc" data-name="Pos">Pos</th>
          <th class="s-header" scope="col" [appSort]="filteredRushing$" data-order="desc" data-name="Att">Att</th>
          <th class="s-header" scope="col" [appSort]="filteredRushing$" data-order="desc" data-name="Att/G">Att/G</th>
          <th class="s-header" scope="col" [appSort]="filteredRushing$" data-order="desc" data-name="Yds">Yds</th>
          <th class="s-header" scope="col" [appSort]="filteredRushing$" data-order="desc" data-name="Avg">Avg</th>
          <th class="s-header" scope="col" [appSort]="filteredRushing$" data-order="desc" data-name="Yds/G">Yds/G</th>
          <th class="s-header" scope="col" [appSort]="filteredRushing$" data-order="desc" data-name="TD">TD</th>
          <th class="s-header" scope="col" [appSort]="filteredRushing$" data-order="desc" data-name="Lng">Lng</th>
          <th class="s-header" scope="col" [appSort]="filteredRushing$" data-order="desc" data-name="1st">1st</th>
          <th class="s-header" scope="col" [appSort]="filteredRushing$" data-order="desc" data-name="1st%">1st%</th>
          <th class="s-header" scope="col" [appSort]="filteredRushing$" data-order="desc" data-name="20+">20+</th>
          <th class="s-header" scope="col" [appSort]="filteredRushing$" data-order="desc" data-name="40+">40+</th>
          <th class="s-header" scope="col" [appSort]="filteredRushing$" data-order="desc" data-name="FUM">FUM</th>
        </thead>
        <tbody>
            <tr *ngFor="let r of filteredRushing$ | async">
              <td>
                {{r.Player}}
              </td>
              <td>
                {{r.Team}}
              </td>
              <td>
                {{r.Pos}}
              </td>
              <td>
                {{r.Att}}
              </td>
              <td>
                {{r["Att/G"]}}
              </td>
              <td>
                {{r.Yds}}
              </td>
              <td>
                {{r.Avg}}
              </td>
              <td>
                {{r["Yds/G"]}}
              </td>
              <td>
                {{r["TD"]}}
              </td>
              <td>
                {{r.Lng}}
              </td>
              <td>
                {{r["1st"]}}
              </td>
              <td>
                {{r["1st%"]}}
              </td>
              <td>
                {{r["20+"]}}
              </td>
              <td>
                {{r["40+"]}}
              </td>
              <td>
                {{r["FUM"]}}
              </td>
            </tr>
        </tbody>
      </table>
      <br><br>
    </div>
  </div>
</div>
